@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.upper {
  grid-area: upper;
  height: 50mm;
  width: 230.9mm;
  background-color: #4285f4;
  color: white;
  display: grid;
  padding: 0 0 0 35px;
  grid-template-areas: "title-name networks frameworks" "title-name languages software";
}
.upper .name {
  grid-area: title-name;
  display: grid;
  grid-template: "title-section" "mail-section" "description-section";
  margin-top: 20px;
  margin-left: 10px;
}
.upper .name .title-section {
  display: flex;
  grid-area: title-section;
  align-items: end;
  font-size: 32px;
}
.upper .name .mail-section {
  display: flex;
  grid-area: mail-section;
  align-items: start;
  font-size: 16px;
}
.upper .name .description-section {
  grid-area: description-section;
  font-size: 16px;
  width: 400px;
}
.upper .networks {
  display: grid;
  grid-area: networks;
  grid-template-areas: "title-section" "logos";
  padding-top: 20px;
}
.upper .networks-title {
  grid-area: title-section;
}
.upper .networks-logos {
  grid-area: logos;
}
.upper .languages {
  display: grid;
  grid-area: languages;
  grid-template-areas: "title-section" "logos";
}
.upper .languages-title {
  grid-area: title-section;
}
.upper .languages-logos {
  grid-area: logos;
}
.upper .frameworks {
  display: grid;
  grid-area: frameworks;
  grid-template-areas: "title-section" "logos";
  padding-top: 20px;
}
.upper .frameworks-title {
  grid-area: title-section;
}
.upper .frameworks-logos {
  grid-area: logos;
}
.upper .operativesystems {
  display: grid;
  grid-area: software;
  grid-template-areas: "title-section" "logos";
}
.upper .operativesystems-title {
  grid-area: title-section;
}
.upper .operativesystems-logos {
  grid-area: logos;
}

.lower {
  margin: auto;
  max-width: 230.9mm;
  padding-top: 15px;
  grid-area: lower;
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto", serif;
  font-size: 14px;
}
.lower ul {
  border-spacing: 1px;
  margin: 0px;
  padding: 0 0 0 20px;
}
.lower a {
  text-decoration: none;
  color: black;
}
.lower-experience {
  margin: auto;
  width: 550px;
}
.lower-experience-title {
  border-bottom: 2px solid;
  font-size: 20px;
  padding-top: 0cm;
  height: 27px;
}
.lower-experience-content {
  font-size: 12px;
}
.lower-experience td .date {
  text-decoration: none;
  width: 90px;
}
.lower-education {
  margin: 0 auto;
  width: 270px;
}
.lower-education-title {
  height: 27px;
  border-bottom: 2px solid;
  font-size: 20px;
}
.lower-education-content {
  font-size: 12px;
}
.lower-education td .date {
  margin-top: 0;
  margin-right: 5px;
  text-decoration: none;
}
.lower-prizes {
  display: grid;
  margin-right: 25px;
}
.lower-prizes-title {
  font-size: 20px;
  border-bottom: 2px solid;
}
.lower-prizes-content {
  font-size: 12px;
}
.lower-others {
  flex-wrap: wrap;
  width: 270px;
  margin: 0 auto;
}
.lower-others-title {
  font-size: 20px;
  border-bottom: 2px solid;
}
.lower-others-content {
  font-size: 12px;
}
.lower-projects {
  width: 550px;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}
.lower-projects-title {
  font-size: 20px;
  border-bottom: 2px solid;
}
.lower-projects-content {
  font-size: 12px;
}

body {
  height: 290.4mm;
  width: 230.9mm;
  padding-right: 15px;
  font-family: "Roboto", serif;
  display: grid;
  grid-template-areas: "upper" "lower";
}

/*# sourceMappingURL=index.css.map */
